.light-information {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  padding: 2px;
  margin: 2px;
  gap: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 15px;
  font-weight: 600;
}

.light-information-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.light-information-label {
  font-weight: 500;
}
