.page-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experiments-header {
  background-color: var(--secondary-blue);
  color: white;
}

#experiments-header-btn {
  margin-left: 10px;
  color: white;
}
