.simulation:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.simulation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.simulation-components {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.sim-selection-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
