<div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Activity 1">
      <app-spinner id="grid-spinner" [showSpinner]="isWsLoading"></app-spinner>

      <app-light-control (gridRequested)="onGridRequested()" *ngIf="displayControl"></app-light-control>
      <div class="button-container">
        <button mat-button color="primary" (click)="saveGridToExperiment()" *ngIf="hasUnsavedChanges">Save Grid to
          Experiment</button>
      </div>

      <div class="activity-content">
        <div class="column">
          <app-intensity-grid [gridDimension]="gridDimension"></app-intensity-grid>
        </div>
        <div class="column">
          <app-intensity-chart [gridDimension]="gridDimension"></app-intensity-chart>
        </div>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Activity 2"> -->
    <!-- </mat-tab> -->
  </mat-tab-group>
</div>
