<app-navbar></app-navbar>
<div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Activity 1">
      <app-light-control></app-light-control>
      <div class="activity-content">
        <div class="column">
          <app-intensity-grid [gridDimension]="this.gridDimension"></app-intensity-grid>
        </div>
        <div class="column">
          <app-intensity-chart [gridDimension]="this.gridDimension"></app-intensity-chart>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Activity 2">
      Content for activity 2
    </mat-tab>
  </mat-tab-group>
</div>
