/* ---------------- Footer Styles ---------------- */
footer {
  height: 90px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  text-align: center;
}

#erasmus-logo {
  width: 200px;
}

#copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------------------------------------------------- */
