.laboratory-container {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 10px;
  height: 100%;
}

.contents {
  display: contents;
  padding: 10px;
  height: 100%;
}

.light-information {
  grid-column: 1 / -1;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #d1d5db;
}

.grid-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #d1d5db;
}

.grid-selector label {
  display: block;
  margin: 5px 0;
}

.light-simulation {
  grid-column: 1 / -1;
}
