<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Activity 1">
    <app-spinner id="grid-spinner" [showSpinner]="loadingWs"></app-spinner>
    <div class="laboratory-container">
      <div class="contents">
        <app-light-information class="light-information"></app-light-information>

        <app-intensity-matrix [gridDimension]="gridDimension" [savedGrids]="savedGrids">
        </app-intensity-matrix>

        <app-robot-camera></app-robot-camera>

        <app-intensity-chart [gridDimension]="gridDimension" [savedGrids]="savedGrids"></app-intensity-chart>

        <app-light-control></app-light-control>

        <div class="robot-control">
          <span>Robot Control</span>
          <button mat-raised-button color="primary" (click)="sendRobotCommand()">
            Capture Grid
          </button>
        </div>

        <div class="save-grids">
          <span>Save Captured Grids</span>
          <button mat-raised-button color="primary" (click)="saveGrids()">
            Save Grids
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
