<div class="light-control">
  <div class="box-container">
    <h2 class="title">Light Control Dashboard</h2>
    <div class="section-container">
      <div class="left-section">
        <h4>Click the button below to fetch the latest grid data.</h4>
        <button mat-button color="primary" (click)="requestGrid()">Get Grid Data</button>
      </div>
      <div class="separator"></div>
      <div class="right-section">
        <div class="control-content">
          <div class="control-item">
            <h4>DIM Light Intensity</h4>
            <mat-slider min="10" max="100" step="1" [(ngModel)]="sliderValue" color="primary" thumbLabel
              tickInterval="1"></mat-slider>
            <span>Value: {{sliderValue}}</span>
          </div>
          <div class="control-item">
            <h4>Turn On/Off Light</h4>
            <mat-slide-toggle color="primary" [(ngModel)]="switchValue"></mat-slide-toggle>
          </div>
          <div class="control-item">
            <button mat-button color="primary" (click)="setLightProperties()">Set Light Properties</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
