.dialog-content {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.text-center {
  text-align: center;
  font-size: 18px;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-actions .spacer {
  flex: 1;
}

button {
  margin: 0 10px;
}
