<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="user@mail.com" formControlName="email" />
    <mat-error *ngIf="emailControl?.invalid && (emailControl?.touched || emailControl?.dirty)">
      <div *ngIf="emailControl?.hasError('required')">
        Email field is required
      </div>
      <div *ngIf="emailControl?.hasError('email')">
        Invalid email address
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="on" />
    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" tabindex="-1">
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl?.invalid && (passwordControl?.touched || passwordControl?.dirty)">
      <div *ngIf="passwordControl?.hasError('required')">
        Password field is required
      </div>
    </mat-error>
  </mat-form-field>

  <p id="password-link">
    <a class="mat-caption" [href]="passwordResetUrl" target="_blank">
      Forgot Password?
    </a>
  </p>

  <button class="access-button" type="submit" mat-raised-button color="primary">
    Sign In
  </button>
</form>
